{
    "eaa_cli_comment": [
        "This is an example of JSON template to create an EAA client based application ",
        "with a single command line using Akamai CLI and EAA package.",
	    "To create the app, use the following command:",
        "cat clientbasedapp-tunnel-noacl.json.j2 | akamai eaa app - create",
        "",
        "Replace the relevant configuration settings to match your environment."
    ],

    {#- Jinja variable to allow create unique app 
        every time the command is executed -#}
    {% set random_appsuffix = range(1, 10000) | random %}

    "Services": [],
    "advanced_settings": {
        "acceleration": "true",
        "allow_cors": "false",
        "anonymous_server_conn_limit": "50",
        "anonymous_server_request_limit": "100",
        "app_auth": "none",
        "app_auth_domain": null,
        "app_client_cert_auth": "false",
        "app_cookie_domain": null,
        "app_location": null,
        "app_server_read_timeout": "60",
        "authenticated_server_conn_limit": "50",
        "authenticated_server_request_limit": "100",
        "client_cert_auth": "false",
        "client_cert_user_param": "",
        "cookie_domain": "",
        "cors_header_list": "unbounded",
        "cors_max_age": "86400",
        "cors_method_list": "unbounded",
        "cors_origin_list": "unbounded",
        "cors_support_credential": "on",
        "custom_headers": [],
        "domain_exception_list": "",
        "edge_authentication_enabled": "false",
        "edge_cookie_key": "",
        "external_cookie_domain": null,
        "force_mfa": "off",
        "forward_ticket_granting_ticket": "false",
        "g2o_enabled": "false",
        "g2o_key": null,
        "g2o_nonce": null,
        "health_check_fall": "3",
        "health_check_http_host_header": null,
        "health_check_http_url": "/",
        "health_check_http_version": "1.1",
        "health_check_interval": "30000",
        "health_check_rise": "2",
        "health_check_timeout": "50000",
        "health_check_type": "5",
        "hidden_app": "false",
        "host_key": null,
        "hsts_age": "15552000",
        "http_only_cookie": "true",
        "https_sslv3": "false",
        "idle_close_time_seconds": "1200",
        "idle_conn_ceil": "75",
        "idle_conn_floor": "50",
        "idle_conn_step": "10",
        "idp_idle_expiry": null,
        "idp_max_expiry": null,
        "ignore_bypass_mfa": "off",
        "ignore_cname_resolution": "false",
        "inject_ajax_javascript": "off",
        "internal_host_port": "0",
        "internal_hostname": "application-{{ random_appsuffix }}.akamaidemo.net",
        "ip_access_allow": "false",
        "is_ssl_verification_enabled": "false",
        "keepalive_connection_pool": "50",
        "keepalive_enable": "true",
        "keepalive_timeout": "3",
        "kerberos_negotiate_once": "off",
        "keyed_keepalive_enable": "false",
        "keytab": "",
        "load_balancing_metric": "round-robin",
        "logging_enabled": "true",
        "login_timeout": "5",
        "login_url": null,
        "logout_url": null,
        "mdc_enable": "false",
        "mfa": "inherit",
        "offload_onpremise_traffic": "false",
        "pass_phrase": null,
        "preauth_consent": "false",
        "preauth_enforce_url": "",
        "private_key": null,
        "proxy_buffer_size_kb": "4",
        "proxy_disable_clipboard": "false",
        "rate_limit": "on",
        "refresh_sticky_cookie": "on",
        "request_body_rewrite": "false",
        "request_parameters": null,
        "saas_enabled": "false",
        "sentry_redirect_401": "off",
        "server_cert_validate": "true",
        "server_request_burst": "100",
        "service_principle_name": null,
        "session_sticky": null,
        "session_sticky_cookie_maxage": "0",
        "session_sticky_server_cookie": null,
        "spdy_enabled": "true",
        "ssh_audit_enabled": "false",
        "sso": "true",
        "sticky_agent": "false",
        "user_name": null,
        "wapp_auth": "form",
        "websocket_enabled": "true",
        "wildcard_internal_hostname": "false"
    },
    "agents": {% include 'includes/akdemo-amer-2maincon.json' %},
    "app_category": {},
    "app_logo": "",
    "app_profile": 9,
    "app_profile_id": null,
    "app_type": 4,
    "auth_agent": null,
    "auth_enabled": "true",
    "auth_type": 1,
    "client_app_mode": 2,
    "cname": "akdemo-tunapp-{{ random_appsuffix }}.go.akamai-access.com",
    "description": "Client-based application (tunnel mode), no ACL",
    "directories": {% include 'includes/akdemo-directory.json' %},
    "domain": 2,
    "domain_suffix": "go.akamai-access.com",
    "host": "akdemo-tunapp-{{ random_appsuffix }}",
    "idp": {% include 'includes/akdemo-idp.json' %},
    "name": "Client based app demo from CLI {{ random_appsuffix }}",
    "pop": "{{ cli_cloudzone('Client-US-East') }}",
    "tunnel_internal_hosts": [
        {
            "host": "internal-app-{{ random_appsuffix }}.akamaidemo.net",
            "port_range": "1-65535",
            "proto_type": 3
        }
    ],
    "groups": {% include 'includes/akdemo-groups-default.json' %},
    "urllocation": []
}